@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

body {
    background: #0e0e0e;
}


.icon-html {
    color: #e34c26;
}

.icon-css {
    color: #264de4;
}

.icon-js {
    color: #f7df1e;
}

.icon-react {
    color: #61dafb;
}

.icon-java {
    color: #007396;
}

.icon-spring {
    color: #6db33f;
}

.icon-php {
    color: #777bb4;
}

.icon-git {
    color: #f34f29;
}

.icon-figma {
    color: #f24e1e;
}

.icon-tailwind {
    color: #06b6d4;
}

.icon-sass {
    color: #cc6699;
}

.icon-bootstrap {
    color: #7952b3;
}



body {
    margin: 0 auto;
}

#proyectos .card:hover,
#formacion .card:hover {
    box-shadow: 0px 0px 10px rgb(121, 121, 121);
    transform: scale(1.02);
}

#formacion .card:hover {
    cursor: pointer;
}



/*ESTILOS API GITHUB*/

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    font-size: 10px;
    font-weight: bold;
    color: white;
}

#github-activity {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    background: #212529;
    right: 10px;
    color: white;
    border: 2px solid #343A40;
    cursor: pointer;
}

#github-activity:hover {
    background: #343A40;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.day {
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 5px;
    background-color: #161B22;
}

.day.level-1 {
    background-color: #0c3b24;
}

.day.level-2 {
    background-color: #0f472c;
}

.day.level-3 {
    background-color: #006D32;
}

.day.level-4 {
    background-color: #39D353;
}

.proyect-img:hover {
    transform: scale(1.1) rotate(-2deg);
    transition: 1s;
}

.proyect-img {
    transition: 1s;

}
